<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Personal Financier</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="robots" content="index, follow" />

		<!-- icons -->
		<link rel="apple-touch-icon" href="/img/apple-touch-icon.png" th:href="@{/img/apple-touch-icon.png}" />
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="stylesheet" media="screen" href="../static/css/styles.css" th:href="@{../css/styles.css}" />
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script>
			$(function() {
				toggleExpenseTypeOptions();
				$(".datepicker").datepicker();
				$("select#expenseType").change(toggleExpenseTypeOptions);
			});
			
			function toggleExpenseTypeOptions(){
				if('Monthly' == $("select#expenseType").val()){
					 $('#dayOfMonthDueOption').show()
					 $('#dueDateOption').hide()
					 $('#endDateOption').show()
					 $('#startDateOption').show()
				 }else if('One Time' == $("select#expenseType").val()){
					 $('#dayOfMonthDueOption').hide()
					 $('#dueDateOption').show()
					 $('#endDateOption').hide()
					 $('#startDateOption').hide()
				 }else if('Per Paycheck' == $("select#expenseType").val()){
					 $('#dayOfMonthDueOption').hide()
					 $('#dueDateOption').hide()
					 $('#endDateOption').show()
					 $('#startDateOption').show()
				 } 
			}
		</script>
	</head>
	<body>
		<div class="header">
			<div class="container">
				<h1 class="header-heading">Personal Financier</h1>
			</div>
		</div>
		<div class="nav-bar">
			<div class="container">
				<ul class="nav">
					<li><a th:href="@{../}">Budget</a></li>
					<li><a th:href="@{../income/}">Income</a></li>
					<li><a th:href="@{../expense/}">All Expenses</a></li>
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="container">
				<div class="main">
					<h1 th:text="${(expense.id != null ? 'Edit' : 'Create') + ' an Expense'}">Page Title</h1>
					<hr />
					
					<form action="#" th:action="@{../expense/}" th:object="${expense}" th:method="${expense.id == null ? 'post' : 'put'}">
						<input th:if="${expense.id != null}" type="hidden" th:field="*{id}" />
						<ul>
							<li>     
								<label for="expenseType">Type:</label>
								<select id="expenseType" th:field="${expense.expenseType}">
									<option th:each="expenseType : ${expenseTypes}" 
										th:value="${expenseType}" 
										th:text="${expenseType}">ExpenseType</option>
								</select>
							</li>
							<li>     
								<label for="name">Name:</label>
								<input type="text" th:field="${expense.name}" th:value="${expense.name}"/>
							</li>
							<li>     
								<label for="active">Active:</label>
								<input type="checkbox" th:field="${expense.active}" th:value="${expense.active}"/>
							</li>
							<li>     
								<label for="autopay">Autopay:</label>
								<input type="checkbox" th:field="${expense.autopay}"/>
							</li>
							<li>
								<label for="amount">Amount (dollars):</label>
								<input type="text" th:field="${expense.amount}"/>
							</li>
							<li id="dayOfMonthDueOption">
								<label for="dayOfMonthDue">Day of Month Due:</label>
								<select id="dayOfMonthDue" th:field="${expense.dayOfMonthDue}">
									<option th:each="i : ${#numbers.sequence( 1, 31 )}"
										th:text="${i}" 
										th:value="${i}">Day of Month Due</option>
								</select>
							</li>
							<li id="dueDateOption">
								<label for="dueDate">Due Date:</label>
								<input type="text" class="datepicker" th:field="${expense.dueDate}" />
							</li>
							<li id="startDateOption">
								<label for="startDate">Start Date:</label>
								<input type="text" class="datepicker" th:field="${expense.startDate}" />
							</li>
							<li id="endDateOption">
								<label for="endDate">End Date:</label>
								<input type="text" class="datepicker" th:field="${expense.endDate}" />
							</li>
							<li>
								<input type="submit" />
							</li>
						</ul>
			        </form>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				&copy; Copyright 2015
			</div>
		</div>
	</body>
</html>