<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Personal Financier</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="robots" content="index, follow" />

		<!-- icons -->
		<link rel="apple-touch-icon" href="/img/apple-touch-icon.png" th:href="@{/img/apple-touch-icon.png}"/>
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="stylesheet" media="screen" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
		<style>
			h3{
				margin-top:2.2em;
			}
		</style>
		
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script>
			$(function() {
				$('.delete').click(function(){
					var parentTr = $(this).parent().parent()
					if(confirm("Are you sure you want to delete this Expense?")){
						$.ajax({
						    url: $(this).attr("href"),
						    type: 'DELETE',
						    success: function(result) {
						        parentTr.remove();
						    }
						});
					}
					return false;
				});
			});
		</script>
		
		
	</head>
	<body>
		<div class="header">
			<div class="container">
				<h1 class="header-heading">Personal Financier</h1>
			</div>
		</div>
		<div class="nav-bar">
			<div class="container">
				<ul class="nav">
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/expense/create/}">New Expense</a></li>
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="container">
				<div class="main">
					<h1>Viewing all Expenses by Type</h1>
					
					<div th:if="${#lists.isEmpty(entry.value) != true}" th:each="entry : ${expensesByType}">
						<h3 th:text="${entry.key} + ' Expenses'">Type</h3>
						<table class="table table-striped">
							<tr>
								<th>&nbsp;</th>
								<th>Amount</th>
								<th th:if="${#strings.equals('Monthly', entry.key) or #strings.equals('Per Paycheck', entry.key)}">Start Date</th>
								<th th:if="${#strings.equals('Monthly', entry.key) or #strings.equals('Per Paycheck', entry.key)}">End Date</th>
								<th th:if="${#strings.equals('Monthly', entry.key)}">Day of Month Due</th>
								<th th:if="${#strings.equals('One Time', entry.key)}">Due Date</th>
								<th>&nbsp;</th>
							</tr>
							<tr th:each="expense : ${entry.value}">
								<td style="padding-right:1.3em;"><a th:href="@{'/expense/edit/' + ${expense.id}}" th:text="${expense.name}">Name</a></td>
								<td th:text="${expense.amount}">Amount</td>
								<td th:if="${#strings.equals('Monthly', entry.key) or #strings.equals('Per Paycheck', entry.key)}" th:text="${expense.startDate != null ? #dates.format(expense.startDate, 'MMM, dd, yyyy') : ''}">Start Date</td>
								<td th:if="${#strings.equals('Monthly', entry.key) or #strings.equals('Per Paycheck', entry.key)}" th:text="${expense.endDate != null ? #dates.format(expense.endDate, 'MMM, dd, yyyy') : ''}">End Date</td>
								<td th:if="${#strings.equals('Monthly', entry.key)}" th:text="${expense.dayOfMonthDue}">Day of Month Due</td>
								<td th:if="${#strings.equals('One Time', entry.key)}" th:text="${expense.dueDate != null ? #dates.format(expense.dueDate, 'MMM, dd, yyyy') ? ''}">Due Date</td>
								<td><a th:href="@{'/expense/' + ${expense.id}}" class="delete">Delete</a></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				&copy; Copyright 2015
			</div>
		</div>
	</body>
</html>